option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "ebdjango.settings"  # Update this according to your settings module
    PYTHONPATH: "/var/app/current/ebdjango:$PYTHONPATH"  # Ensure this points to the correct path

  aws:elasticbeanstalk:container:python:
    WSGIPath: "ebdjango.wsgi:application"  # Update this according to your WSGI application path

  aws:autoscaling:launchconfiguration:
    RootVolumeType: gp3  # Use gp3 as root volume type
    DisableIMDSv1: true  # Disable IMDSv1, enforcing use of launch templates

